---
---
<html>
<head>

    <header class="masthead">
      <h3 class="masthead-title">
        <a href="/" title="Home">Back to {{ site.title }}</a>
      </h3>
    </header>

  <meta charset=utf-8 />
  <title> Richard Kunert's CV</title>

  <!-- imports -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>

  <div class="footer"></div>

</body>
</html>
